.detail-ad-card {
    .detail-image .flexslider{
        ul.slides{
            li {
                background-color: aliceblue;

                img{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}
.ad-header {
    .extras p{
        font-size: 14px;
    }
}

.name-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $blue-300;
    margin-right: 10px;

    p {
        text-align: center;
        color: $white;
        position: relative;
        top: 8px;
    }
}

.price {
    background: #ffc034;
    margin: 15px 0;
    padding: 10px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;

    p {
        text-align: center;
        color: $black;
        font-size: 1.24rem;
        font-weight: 600;
        margin-bottom: 0;

        span {
            color: $black;
            font-weight: 600;
        }
    }

}

.google-ad {
    padding: 15px;

    img {
        display: block;
        margin: 0 auto;
    }
}