%all-ad-background {
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.all-ads {
    @extend %all-ad-background;

    .border-right {
        border-right: 1px solid $gray-200;
    }

    .all-ad-data-link:hover {
        text-decoration: none;
    }
    .all-ad-data{
        border: 1px solid $gray-200;
        padding: 10px;
        margin: 20px 0;

        .meta-media {
            width: 200px;
            height: 110px;
            background-color: $gray-200;

            img {
                display: block;
                margin: 0 auto;
                position: relative;
                top: 50%;
                transform: translate(0,-50%);
            }
        }
        .meta-data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .meta-data-text{
                justify-content: flex-start;

                .title {
                    color: $primary-shade-1;
                }
            }

            .meta-data-date{
                justify-content: flex-end;
            }
        }

        &:hover {
            border-left-color: $gray-200;
            border-right-color: $gray-200;
            cursor: pointer;
            
        }
    }
}

.all-ad-category {
    ul{
        list-style: none;
        padding:0;
    }

    li{
        margin: 2px 0;

        a {
            width: 100%;
            display: block;
            text-decoration: none;
            color: #757575;
            padding: 5px;
            border-radius: .15em;
            transition: background .3s ease;
            background: transparent;
            font-size: 0.82rem;

            @include mq(768px) {
                font-size: 1.0rem;
            }

            span {
                color: $primary-blue;
                margin-right: 4px;
            }

            &:hover {
                background: $blue-300;
                color:$white;
            }
            &:active {
                background: $blue-300;
                color:$white; 
            }
        }
        
    }
}