.hero-banner {
	height: 16%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;


	@include mq(768px) {
		height: 22%;
	}

	@include mq(1200px) {
		height: 28%;
	}

	.hero-text {
		padding: 5% 0;

		@include mq(768px) {
			padding: 10% 0;
		}

		h1 {
			text-align: center;
			color: $white;
			font-size: 1.56rem;

			@include mq(768px) {
				font-size: 2.5rem;
			}
		}
	}
}

.top-categories {
	margin-top: 6%;

	@include mq(768px) {
		margin-top: 0;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.top-category-card {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
	margin: 6px 0;

	@include mq(768px) {
		margin: 0 0;
	}

	.category-text {
		display: block;
		margin: 0 auto;

		h5 {
			font-size: 12px;
			font-weight: 500;
			color: $primary-shade-2;
			text-align: center;

			@include mq(768px) {
				font-size: 16px;
				font-weight: 400;
			}
		}

		p {
			text-align: center;
			color: #a0a0a0;
			font-size: 10px;

			@include mq(768px) {
				font-size: 14px;
			}
		}
	}

	&:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	}
}

.sprite {
	background-image: url(../../../assets/images/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
}

.sprite-animals {
	width: 64px;
	height: 64px;
	background-position: -45px -45px;
}

.sprite-business-industry {
	width: 64px;
	height: 64px;
	background-position: -199px -45px;
}

.sprite-electronics {
	width: 64px;
	height: 64px;
	background-position: -45px -199px;
}

.sprite-fashion-health-beauty {
	width: 64px;
	height: 64px;
	background-position: -199px -199px;
}

.sprite-home-garden {
	width: 64px;
	height: 64px;
	background-position: -353px -45px;
}

.sprite-property {
	width: 64px;
	height: 64px;
	background-position: -353px -199px;
}

.sprite-top-deal {
	width: 64px;
	height: 64px;
	background-position: -45px -353px;
}

.sprite-vehicles {
	width: 64px;
	height: 64px;
	background-position: -199px -353px;
}

.detail-ad-card {

	.card-body {
		h1 {
			font-size: 1.5rem;
		}

		.detail-text .price {
			padding: 8px 20px;
			background-color: #0FAE64;
			border: 1px solid #247255;
			border-radius: .25rem;
			color: $white;
			font-weight: 400;
		}

		.detail-text .specs {
			padding: 8px 10px;
			background-color: #F9F9F9;
			border: 1px solid #EBEBEB;
			border-radius: .25rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 300px;
		}
	}
}

.detail-user-data {
	button {
		width: 100%;
	}

	.verifed {
		padding: 8px 8px;
		border: 1px solid #EBEBEB;
		border-radius: .25rem;
		color: #929292;

		p {
			font-size: 14px;
			margin-bottom: 0;

			i {
				color: $primary-shade-2;
			}
		}
	}
}
