.no-ads {
    max-width: 40rem;

    img { 
        display: block;
        margin: 0 auto;
    }
}

.acc-setting {
    background-color: $white;
    box-shadow: 1px 0 4px 1px #eaeaea;

    .border-right {
        border-right: 1px solid #eaeaea;
    }
}