.category-card {
    background-color: $white-color;
    padding: 5px 15px;
    margin: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    max-width: 38%;
    
    @include mq(768px) {
        max-width: 13%;
        padding: 10px 30px;
    }

    img {
        display: block;
        margin: auto;
    }

    p {
        font-size: 0.9rem;
        font-weight: 500;
        @include mq(768px) {
            font-size: 1.1rem;
        }
    }

    &:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

    &:hover p {
        color: $primary-shade-2;
    }
}

.category-modal {
    .modal-header a {
        cursor: pointer;
    }

    .modal-body a {
        padding: 5px 10px;
        margin: 10px;
    }
}