// Submit ad
.my-ads-image {
	display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 13px 0 0;

	@include mq(768px) {
		flex-direction: column;
	}

    .image {
        margin-right: 20px;

        @include mq(768px) {
            margin-right: 0;
        }
    }
	.img-controls {
		display: flex;
        flex-direction:column;
        margin-top: 8px;

		.add-image {
			.inputfile {
				opacity: 0;
				overflow: hidden;
				position: absolute;

			}

			.inputfile+label {
				border: 1px solid transparent;
				padding: .375rem .75rem;
				border-radius: .25rem;
				font-size: 1rem;
				text-align: center;
				font-weight: 400;
				line-height: 1.5;
				color: $primary-blue;
                background-color: $primary-shade-1;
                border-color: $primary-shade-3;
				display: inline-block;
			}
		}

		.btn-del-img {
            font-weight: 400;
        }
	}

}
.post-ad-card .card-body {
	.section-select {
		border: 1px solid $gray-shade-1;
		border-radius: 5px;
		padding: 10px;
		max-width: 100%;

		@include mq(768px) {
			max-width: 50%;
		}

		p {
			color:#858585;
			margin-bottom: 1px;
		}
	}
	.contact-data {
		h6 {
			color: $primary-shade-1;
			font-weight: 500;
		}
	}
}

// When user have successfully completed ad posting
.ad-complete {
	p a {
		color: #247c3f;
		font-weight: 500;
	}
}

// My Ads Page
.my-ad {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $gray-shade-1;
	padding: 20px 0;

	@include mq(768px) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.my-ad-info {
		margin-left: 0;
		flex: 1;

		h3 {
			font-size: 1.4rem;

			@include mq(768px) {
				font-size: 1.75rem;
			}
		}

		.my-ad-category {
			display: flex;
			align-items: center;

			h5 {
				margin-right: 5px;
				margin-bottom: 0;
			}

			p {
				margin-bottom: 0;
				margin-left: 5px;
			}
		}


		@include mq(768px) {
			margin-left: 15px;
		}
	}

	.my-ad-btn {
		margin: 15px 0;

		a {
			margin-right: 5px;
		}


		@include mq(768px) {
			margin: 0;
		}
	}

}
