# Ignore Node Modules folder
node_modules/

# Ignore vscode folder
.vscode/

# Ignore file named Readme.txt
README.txt

# Ignore file named Readme.md
README.md

# Ignore file named composer.json
composer.json

# Ignore file named package-lock.json
package-lock.json

# Ignore file named editorconfig
.editorconfig
