.card-login {
    max-width: 30rem;
    box-shadow: 1px 0 4px 1px #eaeaea;
    margin-top: 6rem !important;

    .card-footer {
        background-color: transparent!important;
        border-top:none;

        a {
            color: $primary-shade-2;
        }
    }
}