.d-footer {
    position: relative;
}
.footer-top {
    background-color: $white;

    .blue-line {
        background-color: $blue-300;
        height: 3px;
    }
    
    .news {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .5px;
        margin-bottom: 0.8rem;
        color: $black;
    }

    p {
        margin-bottom: .4rem;

        a {
            font-size: 0.9rem;
            font-weight: 500;
            color: $blue-300;
            text-decoration: none;

            &:hover {
                color:$blue-400;
            }
        }
    }
}

.footer-bottom {
    height: 60px;
    background-color: #F3F3F3;
    
    .container {
        p {
            font-weight: 400;
            color: $black;
            font-size: 0.8rem;    
            margin-bottom: 0;       
        }
    }
}
@media(min-width:768px) {
    .footer-bottom .container {
        p {
            font-size: 0.8rem;      
        }
    }
}