.d-footer {
    position: relative;
}
.footer-top {
    .blue-line {
        background-color: #2f2d49;
        height: 4px;
    }
    background-color:#626171;
    color: $white;
    h3 {
        
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    p {
        font-weight: 400;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color:$gray-400;
            }
        }
    }
}

.footer-bottom {
    height: 60px;
    background-color: #4d4c5a;
    
    .container {
        p {
            font-weight: 400;
            color: $white;
            font-size: 0.8rem;    
            margin-bottom: 0;       
        }
    }
}
@media(min-width:768px) {
    .footer-bottom .container {
        p {
            font-size: 1rem;      
        }
    }
}