.d-footer {
    position: relative;
}
.footer-top {
    background-color:#11072A;
    color: $white;
    h3 {
        
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    p {
        font-weight: 100;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color:#d2d2d2;
            }
        }
    }
}

.footer-bottom {
    height: 60px;
    background-color: #08011A;
    
    .container {
        p {
            color: $white;  
            font-size: 0.8rem;    
            margin-bottom: 0;       
        }
    }
}
@media(min-width:768px) {
    .footer-bottom .container {
        p {
            font-size: 1rem;      
        }
    }
}