.navbar {
    min-height: 80px;
}
.navbar-color {
	background-color: $white !important;
	box-shadow: 0px 1px 3px 0px $gray-200;
}

.navbtn {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .275rem .55rem;
    font-size: 0.7rem;
    line-height: 1.5; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    @include mq(768px) {
        padding: .5rem 1.5rem;
        font-size: 0.9rem;
    }
}

.navbtn-primary {
    border-radius: .25rem;
    color: $black;
    background-color: #3DE8B3;

    &:hover {
        color: $black;
        text-decoration: none;
        background-color: #20ca95;
    }
}

header{
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
    
    .blue {
        color: $blue-300 !important;
        font-weight: 500;
    }
    .nav-link {
        color: $black;
        font-size: 0.9rem;
        font-weight: 500;

        &:hover {
            color: $blue-300 !important;
        }
        @include mq(768px) {
            font-size: 1rem;
        }
    }
}
.mobile-only {
    display: block;

    @include mq(768px) {
        display: none;
    }
}

.desktop-only {
    display: none;

    @include mq(768px) {
        display: block;
    }
}