.navbar {
    min-height: 80px;
}
.navbar-color {
	background-color: $white !important;
	box-shadow: 0px 1px 3px 0px $gray-200;
}

.navbtn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .275rem .55rem;
    font-size: 0.7rem;
    line-height: 1.5; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    @include mq(768px) {
        padding: .375rem .75rem;
        font-size: 1rem;
    }
}

.navbtn-primary {
    border-radius: .25rem;
    color: $white;
    background-color: #ff5555;
    background-image: linear-gradient(to bottom,#f73f3f,#f70404);
    border-color: #ff5555;

    &:hover {
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom,#d40000,#e61212);
    }
}

header{
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
    
    .blue {
        color: $blue-300 !important;
        font-weight: 500;
    }
    .nav-link {
        color: $black;
        font-size: 14px;
        font-weight: 500;

        &:hover {
            color: $blue-300 !important;
        }
        @include mq(768px) {
            font-size: 16px;
        }
    }
}
.mobile-only {
    display: block;

    @include mq(768px) {
        display: none;
    }
}

.desktop-only {
    display: none;

    @include mq(768px) {
        display: block;
    }
}