// System colors
$primary-blue: #0F27A2;
$primary-shade:#88B8FF;
$primary-shade-1:#7E93FF;
$primary-shade-2:#546FF8;
$primary-shade-3:#4152AB;
$white-color:#FFF;
$black-color:#000;

// Gray/Neutral Colors
$body-gray:#ececec80;
$gray-shade-1: #d6d6d6;
$color_1: #fff;
$color_2: #3270af;
$color_3: rgba(0, 0, 0, .5);
$color_4: #242526;
$color_5: rgba(0,0,0,1);
$color_6: rgba(#000,.7);
$font_family_1: FontAwesome;
$background_color_1: #DEDEDE;
$background_color_2: #dee2e6;
$background_color_3: #495057;
$background_color_4: #e9ecef;